<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!--使用方式，将该文件放在resources目录下，在pom文件中配置相应的property,每次生成就只需要运行mvn:mybatis:generator:generate-->
<generatorConfiguration>

    <properties resource="application-dataSource.properties" />

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <!--自定义通用Mapper接口，将来所有生成的mapper接口都会继承这个接口-->
            <property name="mappers"
                      value="${targetResourcesProject}" />
        </plugin>
        <jdbcConnection driverClass="${spring.datasource.driver-class-name}"
                        connectionURL="${spring.datasource.url}"
                        userId="${spring.datasource.username}"
                        password="${spring.datasource.password}">
        </jdbcConnection>
        <javaModelGenerator targetPackage="${targetModelPackage}"
                            targetProject="${targetJavaProject}" />
        <sqlMapGenerator targetPackage="${targetXMLPackage}"
                         targetProject="${targetResourcesProject}" />
        <javaClientGenerator targetPackage="${targetMapperPackage}"
                             targetProject="${targetJavaProject}" type="XMLMAPPER" />
        <table tableName="${targetTableName}">
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        </table>
    </context>

</generatorConfiguration>