<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gsy.springboot.start.mapper.TbCrawlerUrlCustomMapper" >
    <select id="getOneUrl" resultType="com.gsy.springboot.start.pojo.TbCrawlerUrl" parameterType="java.lang.String">
    SELECT * FROM tb_crawler_url t WHERE  t.type= #{type} and t.busy = '0' limit 1;
  </select>
    <delete id="deleteAll">
        delete from tb_crawler_url;
    </delete>

</mapper>